// Define variables for your color scheme

// For example:
$red: #FF5964;
$blue: #167FFB;
$yellow: #FFE74C;
$orange: #FE9920;
$green: #0CCE6B;
$gray: #0E0000;
$light-gray: #F4F4F4;


// $body-color: $#222222;
// $primary:    $blue;
// $success:    $#0CCE6B;
// $info:       $#FFE74C;
// $danger:     $#FF5964;
// $warning:    $#FE9920;



