// Specific CSS for your home-page





.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.home-video-wrapper {
    position: relative;
    height: 100vh;
    top: 0;
display: flex;
justify-content: center;
background-color: #00000091;
}

.container-flex{
  top: 160px;
    position: absolute;
    text-align: right;
}

.homeHeader{
  font-family: 'Reem Kufi', cursive;
  z-index: 1;
  color: white;
  font-size: 90px;
}

.homeTag{
  font-family: 'Montserrat';
  z-index: 1;
  color: #ffffffeb;
  font-size: 32px;
}

.sellButton{
  background-color: #FF5964;
    border-radius: 6px;
    color: white;
    border: none;
    padding: 8px 35px;

    a{
      color: white;
    }
}

.buyButton{
  background-color: #0CCE6B;
    border-radius: 6px;
    color: white;
    border: none;
    padding: 8px 35px;

    a{
      color: white;
    }
}

.homebutt{
  justify-content: space-between;
    top: 175px;
    position: relative;
}
