
// .loginMain{
//   position: relative;
// }


.loginPage{

  background-color: #2f2f2f;
  padding: 20px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36vw;
  height: 270px;
}

.loginButton{
    right: 21px;
    bottom: 23px;
    background-color: #FF5964;
    border-radius: 6px;
    color: white;
    border: none;
    padding: 8px 35px;
    position: absolute;
    margin-top: 10px;

    a{
      color: white;
    }
}

#user_email{
  margin-bottom: 25px;
}
#user_password{
  margin-bottom: 25px;
}

.loginSignUp{
    background-color: #0CCE6B;
    border-radius: 6px;
    color: white;
    border: none;
    padding: 10px 30px;
    position: absolute;
    bottom: 23px;

    a{
      color: white;
    }
}

.loginForgot{
  position: absolute;
  bottom: 87px;
  right: 21px;
}
