#lg_play {
  bottom: 2px;
  right: 0px;
}

.artist_box{
  display: inline-flex;

  flex-grow: 1;
}
.songs{
  margin: 20px;

}
.user_desc{
 margin: 20px;
}
.artist_title{
  margin-top: 20px;

}
.title{
  display: inline-flex;
  margin: 0px 25%;

}
