.showSongContainer{
  margin: 55px;
}

.artist_box{
  display: inline-flex;

  flex-grow: 1;
}

.showProfilePic{
  width: 100px;
  height: 100px;
  border-radius: 4px;
}
.songs{
  margin: 20px;

}
.user_desc{
 margin: 20px;
}
// .artist_title{
//   margin-top: 20px;

// }
.artistTitle{
  display: inline-flex;
}

.songShowCol{
 background-color: #2f2f2f;
 margin-left: 20px;
 padding: 20px;
}

.lyricsDiv{
  background: #e4e4e4;
  color: black;
  padding: 10px;
  margin: 20px 0;
}

.showEditBtn{
  position: relative;
  height: 37px;
  top: 5px;
}

.nicknameRate{
  display: flex;
}

.showHeader{
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
  position: relative;

  .playpausebutton{
    width: 50px;
    height: 50px;
    border-radius: 28px;
    margin-left: 25px;
  }

  .playicon{
    position: relative;
    bottom: 0px;
    right: -2px;
    width: 40px !important;
    height: 30px !important;
  }

  .pauseicon{
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 40px !important;
    height: 30px !important;
  }
}

.showProfilePic{
 object-fit: cover;
}
