<h1>Song#show</h1>
<p>Find me in app/views/song/show.html.erb</p>

<h4>  Song Title: <%= @song.name %></h4>
<h3>  Song Price: <%= @song.price %>  </h3>
<p> <%= @song.lyrics %></p>

<%= cl_video_tag @song.audio.key, controls: true, style: "width: 50%; " %>
