
<div class="container aboutContainer">

<h1 class="aboutH1">What's it all about then?</h1>


<%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1616131482/Screen_Shot_2021-03-19_at_4.24.03_pm_mcn5kd.png", class: "aboutImage" %>

</div>
