<h1 class="homeh1">Hello</h1>



<div class="home-video-wrapper">
  <%= video_tag "songsaviourBGmov.mov", autoplay: true, loop: true, mute: true, class: "home_video" %>
  <h1 class="home"> Welcome to Paradise</h1>
</div>
