.lineItemStyling{
  background-color: #313131;
  padding: 10px;
  margin: 10px 0;
}

.contactDetails{
  background-color: #313131;
  padding: 10px;
  margin: 10px 0;
}

.formlinks{
  justify-content: space-between;
    display: flex;
}
