.navbar{
  font-family: 'Reem Kufi';

}

.navbar-lewagon {
  justify-content: space-between;
  background: black;
  padding-top: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  margin-right: 50px;
img {
  width: 30px;
  height: 30px;
  vertical-align: baseline;
}
}

.nav-link{
  color: #b3b3b3 !important;
}

#newsong{
  color: #b3b3b3;
}
